[core]
	editor = \"C:\\Users\\Ing. en C. David\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = ico-dnunezb
	email = ico.dnunezb@gmail.com
